<% action_url = @cat.persisted? ? cat_url(@cat) : cats_url %>
<% form_method = @cat.persisted? ? "PATCH" : "POST" %>
<% submit_text = @cat.persisted? ? "Kitty update!" : "Who's the kitty?" %>

<form action="<%= action_url %>" method="POST">
  <%= render partial: "layouts/csrf" %>
  
  <input type="hidden" name="_method" value="<%= form_method %>">

  <label for="cat_name">Name:</label>
  <input type="text" name="cat[name]" id="cat_name" value="<%= @cat.name %>">
  <br>

  <label for="cat_age">Age:</label>
  <input type="text" name="cat[age]" id="cat_age" value="<%= @cat.age %>">
  <br>
  
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F"
    <%= "checked" if @cat.sex=="F" %> >
  <label for="cat_sex_female">Female</label>
  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M"
    <%= "checked" if @cat.sex=="M" %> >
  <label for="cat_sex_male">Male</label>
  <br>
  
  <label for="cat_color">Color:</label>
    <!-- dropdown -->
    <select name="cat[color]" id="cat_color">
      <option value=""></option>
      <% Cat.colors.each do |color| %>
        <option value="<%= color %>"<%= "selected" if @cat.color==color %>><%= color %></option>
      <% end %>
    </select>
  <br>
    

  <label for="cat_birthdate">Birthdate:</label>
  <input type="date" name="cat[birth_date]" id="cat_birthdate" 
    value="<%= @cat.birth_date %>">
  <br>
  
  <label for="cat_description">Description:</label>
  <input type="textarea" name="cat[description]" id="cat_description" value="<%= @cat.description %>">
  <br>

  
  <input type="submit" value="<%= submit_text %>">

</form>
