<h1>Cat: <%= @cat.name %></h1>

<table>
  <thead>
    <tr>
      <th>Cat name:</th>
      <th>age:</th>
      <th>sex:</th>
      <th>color:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @cat.name %></td>
      <td><%= @cat.age %></td>
      <td><%= @cat.sex=="F" ? "Female" : "Male" %></td>
      <td><%= @cat.color.capitalize %></td>
    </tr>
  </tbody>
</table>

<strong>Description:</strong>
<%= @cat.description %>