<!DOCTYPE html>
<html>
<head>
  <title>RentACat</title>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notices] %>
  <% flash[:notices].each do |msg| %>
    <%= msg %><br />
  <% end %>
<% end%>

<%= render partial: "layouts/sessions" %>
<%= render partial: "layouts/errors" %>

<%= yield %>

</body>
</html>
